*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.logo-img {
    width: 12vw;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vh 8vw;
    border-bottom: 1px solid #dfd9d9;
    position: fixed;
    width: 100%;
}

.options {
    display: flex;
    gap: 2vw;
}

.options a {
    text-decoration: none;
    color: #666;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #666;
    height: 88vh;
    gap: 4vh;
}

.main-text {
    font-weight: bold;
    font-size: 7vh;
}

.main img {
    width: 56vw;
    margin-top: 150px;
}

.main button {
    border: none;
    font-weight: bold;
    background-color: blue;
    border-radius: 5px;
    color: white;
    padding: 15px 25px;
    cursor: pointer;
}

.middle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.middle-main-text p{
    font-weight: bold;
    font-size: 5vh;
    color: #666;
    margin-bottom: 45px;
    margin-top: 140px;
}

.child{
    font-weight: bold;
    font-size: 3vh;
    color: #666;
    margin-bottom: 10px;
}

.main-child {
    color: #666;
    margin-bottom: 40px;
}

.middle img {
    width: 50vw;
    margin-top: 140px;
}